
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 227 40% 98%;
    --foreground: 210 11% 15%;
    --card: 0 0% 100%;
    --card-foreground: 210 11% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 11% 15%;
    --primary: 222 89% 59%;
    --primary-foreground: 0 0% 100%;
    --secondary: 188 84% 45%;
    --secondary-foreground: 0 0% 100%;
    --muted: 210 20% 96%;
    --muted-foreground: 208 7% 46%;
    --accent: 210 20% 96%;
    --accent-foreground: 222 89% 59%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 20% 92%;
    --input: 210 20% 92%;
    --ring: 222 89% 59%;
    --radius: 0.75rem;
    --chart-1: 222 89% 59%;
    --chart-2: 188 84% 45%;
    --chart-3: 199 89% 48%;
    --chart-4: 215 25% 27%;
    --chart-5: 215 14% 34%;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 213 31% 91%;
    --card: 222 47% 11%;
    --card-foreground: 213 31% 91%;
    --popover: 222 47% 11%;
    --popover-foreground: 213 31% 91%;
    --primary: 210 40% 98%;
    --primary-foreground: 222 47% 11%;
    --secondary: 217 32% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 32% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 217 32% 17%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 32% 17%;
    --input: 217 32% 17%;
    --ring: 213 27% 84%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body antialiased;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline font-bold text-[#212529];
  }
}
